.three-artist-element{
    width: 33.3333%;
    height:90%;
    float: left;
    padding-bottom: 1%;
    padding-top: 1%;   
};

.three-artist-layout{
    width: 100%;
    height: 46%;
    padding-bottom: 2.5%;
};